@charset "utf-8";
// ===================================================================
// メインビジュアル
// ===================================================================

// .main_visual スライダー
//----------------------------------------------------
.mv {
	position: relative;
	padding: 0 0;
	&__inner {
		width: $main_visual_width;
		margin: 0 auto;
		div {
			img {
				display: none;//スライダーフェイドの縦並び対策
				width: 100%;
			}
			&:first-child {
				img {display: block;}//スライダーフェイドの縦並び対策
			}
		}
		//左右の矢印の色を変える
		.slick-prev:before {
			// font-size: 4rem;
			// text-shadow: 1px 1px 3px #999;
			content: "";
			padding: 60%;
			left: 20%;
			position: absolute;
			border-left: solid 2px #fff;
			border-bottom: solid 2px #fff;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		.slick-next:before {
			content: "";
			padding: 60%;
			right: 20%;
			position: absolute;
			border-right: solid 2px #fff;
			border-bottom: solid 2px #fff;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		//左右の矢印の位置を変える
		.slick-next {
			right: calc((100vw - 1000px) / 2 - 10px);
			z-index: 99;
		}
		.slick-prev {
			left: calc((100vw - 1000px) / 2 - 30px);
			z-index: 100;
		}
		//スライド数のドットの色を変える
		.slick-dots li.slick-active button:before,
		.slick-dots li button:before {
		}
		.slick-dots li button:hover:before,
		.slick-dots li button:focus:before,
		.slick-dots li.slick-active button:before {
			color: #f60;
		}
	}
	&__copy {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 80%;
		margin: auto;
		img {
			width: auto !important;
		}
		@media (min-width: $md) {
			width: auto;
		}
	}
	&__copy01 {
		position: absolute;
    bottom: 5%;
		right: 5%;
		z-index: 5;
		max-width: 50%;
		@media (min-width: $md) {
			max-width: 40%;
		}
	}
}

// .mv  slider fade スライダー
//----------------------------------------------------
.mv {
	.mv__inner.mv__fade {
		text-align: center;
		div {
			img {
			}
		}
		//左右の矢印の位置を変える
		.slick-next {right: 35px;}
		.slick-prev {left: 35px;}
		@media only screen and (max-width: $md) {
			.slick-prev:before,
			.slick-next:before {}
			.slick-next {right: 16px;}
			.slick-prev {left: 10px;}
		}
	}
}
