@charset "utf-8";
// ===================================================================
// トップページ
// ===================================================================

.post_module01 {
	padding: 60px 0;
	.inner {
		overflow: hidden;
		.ttl_box {
			float: left;
			width: 20%;
			.ttl {
				font-size: 2.4rem;
				text-align: center;
				&::after {content: none;}
				a {
					display: inline-block;
					width: 100%;
					padding-top: 30px;
					height: 150px;
					background-color: $cMain;
					border-radius: 5px 0 0 5px;
					color: #fff;
					text-decoration: none;
					&:hover {
						background-color: rgba( $cMain, 0.9);
					}
				}
				span {
					position: relative;
					display: block;
					width: 80px;
					margin: 10px auto 0;
					padding: 0 0 0 18px;
					background-color: #fff;
					border-radius: 20px;
					color: darken( $cMain, 30% );
					font-size: 1.4rem;
					&::before,
					&::after{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 15px;
					margin: auto;
					content: '';
					vertical-align: middle;
					}
					&::before{
						width: 12px;
						height: 12px;
						-webkit-border-radius: 50%;
						border-radius: 50%;
						background: darken( $cMain, 30% );
					}
					&::after{
						left: 20px;
						box-sizing: border-box;
						width: 3px;
						height: 3px;
						border: 3px solid transparent;
						border-left: 3px solid #fff;
					}
				}
			}
		}
	}
	.post_module01_in {
		float: right;
		width: 80%;
		min-height: 150px;
		max-height: 150px;
		margin: 0 auto;
		padding: 15px 20px;
		background-color: rgba( $cMain, 0.2 );
		border-radius: 0 5px 5px 0;
		font-size: 1.3rem;
		dl {
			overflow: hidden;
			zoom: 1;
			margin-bottom: 0px;
			padding: 0 0;
			dt{
				width: 100px;
				float: left;
				clear: both;
				padding: 8px 0 8px 0;
			}
			dd{
				padding: 8px 0 8px;
				border-bottom: 1px dotted #fff;
				overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
				.iconNew {
					padding: 0 7px;
					margin-right: 5px;
					background: darken( $cMain, 15% );
					color: #fff;
					font-size: 1.2rem;
				}
			}
			a {
				color: $cText;
				letter-spacing: 0.1em;
				text-decoration: none;
				&:hover {color: $cMain;}
			}
		}
	}
	@media only screen and (max-width: $md) {
		padding: 30px 0;
		margin-bottom: 20px;
		.inner {
			overflow: hidden;
			.ttl_box {
				float: none;
				width: 100%;
				.ttl {
					margin-bottom: 0;
					font-size: 2.4rem;
					text-align: center;
					a {
						display: inline-block;
						width: 100%;
						padding-top: 15px;
						padding-bottom: 15px;
						height: auto;
						border-radius: 5px 5px 0 0;
						&:hover {}
					}
					span {}
				}
			}
		}
		.post_module01_in {
			float: none;
			width: 100%;
			min-height: 0;
			max-height: none;
			margin: 0 auto;
			padding: 15px 20px;
			background-color: rgba( $cMain, 0.2 );
			border-radius: 0 0 5px 5px;
			dl {
				dt{
					width: 90px;
				}
				dd{
					padding: 8px 0 8px 5px;
					.iconNew {}
				}
			}
		}
	}
}

.top-lead {
	padding: 60px 15px;
	background: url("https://placehold.jp/1920x500.png?text=images") no-repeat;
	background-attachment: scroll;
	background-size: cover;
	&__inner {
		max-width: $base_width;
		padding: 30px;
		margin: auto;
		background-color: rgba(#fff,.8);
		h2 {
			margin-bottom: .5em;
			text-align: center;
			font-size: 2.4rem;
		}
	}
	@media (min-width: $md) {
		background-attachment: fixed;
	}
}

.top-cont01 {
	padding: 60px 15px 0;
	.container {
		margin-bottom: 0;
	}
	figure {
		text-align: center;
	}
}

.top-cont02 {
	padding: 60px 15px 40px;
	.container {
		margin-bottom: 0;
	}
	.row {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		&::after{content: none;}
	}
	.col.span_3 {
    position: relative;
		max-width: 640px;
		padding-bottom: 40px;
		margin: 0 auto 45px;
		&:not(:last-child) {
			// margin-bottom: 45px;
		}
		.top-cont03__h3 {
			margin-top: .5em;
			margin-bottom: .5em;
			padding-bottom: .25em;
			border-bottom: 1px solid $cMain;
			@media (min-width: $md) {
				// min-height: 62px;
			}
		}
		.btn_more {
			position: absolute;
    	bottom: 0;
			right: 0;
			text-align: right;
			a.add_arrow {
				padding: 7px 18px 7px;
			}
		}
	}
	@media (min-width: $md) {
		.row {
			flex-direction: row;
		}
		.col.span_3 {
			margin: 0 0;
		}
	}
}


