@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&display=swap&subset=japanese");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap");
.cRed {
  color: #ff2626;
}

a {
  color: #54c2f0;
}

a:hover {
  text-decoration: none;
}

/*!
 * 12 COLUMN : RESPONSIVE GRID SYSTEM
 * DEVELOPER : DENIS LEBLANC
 * URL : http://responsive.gs
 * VERSION : 3.0
 * LICENSE : GPL & MIT */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.clr:after,
.col:after,
.container:after,
.group:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  padding-bottom: 0;
}

.col {
  display: block;
  float: left;
  width: 100%;
}

@media (min-width: 768px) {
  .gutters .col {
    margin-left: 2%;
  }

  .span_1 {
    width: 8.3333333333%;
  }

  .span_2 {
    width: 16.6666666667%;
  }

  .span_3 {
    width: 25%;
  }

  .span_4 {
    width: 33.3333333333%;
  }

  .span_5 {
    width: 41.6666666667%;
  }

  .span_6 {
    width: 50%;
  }

  .span_7 {
    width: 58.3333333333%;
  }

  .span_8 {
    width: 66.6666666667%;
  }

  .span_9 {
    width: 75%;
  }

  .span_10 {
    width: 83.3333333333%;
  }

  .span_11 {
    width: 91.6666666667%;
  }

  .span_12 {
    width: 100%;
  }

  .gutters .span_1 {
    width: 6.5%;
  }

  .gutters .span_2 {
    width: 15%;
  }

  .gutters .span_3 {
    width: 23.5%;
  }

  .gutters .span_4 {
    width: 32%;
  }

  .gutters .span_5 {
    width: 40.5%;
  }

  .gutters .span_6 {
    width: 49%;
  }

  .gutters .span_7 {
    width: 57.5%;
  }

  .gutters .span_8 {
    width: 66%;
  }

  .gutters .span_9 {
    width: 74.5%;
  }

  .gutters .span_10 {
    width: 83%;
  }

  .gutters .span_11 {
    width: 91.5%;
  }

  .gutters .span_12 {
    width: 100%;
  }
}
/* 12 COLUMN : RESPONSIVE GRID SYSTEM Custom */
.container img {
  max-width: 100%;
  height: auto;
}

.container {
  margin-bottom: 2em;
}
.container .col figure {
  margin-bottom: 10px;
}

.row:not(:last-child) {
  margin-bottom: 4%;
}

.col {
  float: none;
}

.col:not(:last-child) {
  margin-bottom: 3%;
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }

  .container {
    margin-bottom: 40px;
  }

  .col {
    float: left;
  }

  .reverse > .col {
    float: right;
  }

  .col:not(:last-child) {
    margin-bottom: 0;
  }

  .reverse > .col:last-child,
:not(.reverse) > .col:first-child {
    margin-left: 0;
  }

  .col.offset_1 {
    margin-left: 8.3333333333%;
  }

  .gutters .col.offset_1 {
    margin-left: 10.5%;
  }

  .gutters .col.offset_1:first-child {
    margin-left: 8.5%;
  }

  .col.offset_2 {
    margin-left: 16.6666666667%;
  }

  .gutters .col.offset_2 {
    margin-left: 19%;
  }

  .gutters .col.offset_2:first-child {
    margin-left: 17%;
  }

  .col.offset_3 {
    margin-left: 25%;
  }

  .gutters .col.offset_3 {
    margin-left: 27.5%;
  }

  .gutters .col.offset_3:first-child {
    margin-left: 25.5%;
  }

  .col.offset_4 {
    margin-left: 33.3333333333%;
  }

  .gutters .col.offset_4 {
    margin-left: 36%;
  }

  .gutters .col.offset_4:first-child {
    margin-left: 34%;
  }

  .col.offset_5 {
    margin-left: 41.6666666667%;
  }

  .gutters .col.offset_5 {
    margin-left: 44.5%;
  }

  .gutters .col.offset_5:first-child {
    margin-left: 42.5%;
  }

  .col.offset_6 {
    margin-left: 50%;
  }

  .gutters .col.offset_6 {
    margin-left: 53%;
  }

  .gutters .col.offset_6:first-child {
    margin-left: 51%;
  }

  .col.offset_7 {
    margin-left: 58.3333333333%;
  }

  .gutters .col.offset_7 {
    margin-left: 61.5%;
  }

  .gutters .col.offset_7:first-child {
    margin-left: 59.5%;
  }

  .col.offset_8 {
    margin-left: 66.6666666667%;
  }

  .gutters .col.offset_8 {
    margin-left: 70%;
  }

  .gutters .col.offset_8:first-child {
    margin-left: 68%;
  }

  .col.offset_9 {
    margin-left: 75%;
  }

  .gutters .col.offset_9 {
    margin-left: 78.5%;
  }

  .gutters .col.offset_9:first-child {
    margin-left: 76.5%;
  }

  .col.offset_10 {
    margin-left: 83.3333333333%;
  }

  .gutters .col.offset_10 {
    margin-left: 87%;
  }

  .gutters .col.offset_10:first-child {
    margin-left: 85%;
  }

  .col.offset_11 {
    margin-left: 91.6666666667%;
  }

  .gutters .col.offset_11 {
    margin-left: 95.5%;
  }

  .gutters .col.offset_11:first-child {
    margin-left: 93.5%;
  }

  .col.offset_12 {
    margin-left: 100%;
  }

  :not(.reverse) > .col.break + .col {
    clear: left;
    margin-left: 0;
  }

  .reverse > .col.break {
    margin-left: 0;
  }

  .reverse > .col.break + .col {
    clear: right;
    margin-right: 0;
  }

  .col.break ~ .col {
    margin-top: 2%;
  }
}
/*!
Version: 1.8.0
slick.css
 */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*!
Version: 1.8.0
slick-theme.css
 */
.slick-loading .slick-list {
  background: #fff url(../img/parts/ajax-loader.gif) center center no-repeat;
}

@font-face {
  font-family: "slick";
  font-weight: 400;
  font-style: normal;
  src: url(../img/parts/slick.eot);
  src: url(../img/parts/slick.eot?#iefix) format("embedded-opentype"), url(../img/parts/slick.woff) format("woff"), url(../img/parts/slick.ttf) format("truetype"), url(../img/parts/slick.svg#slick) format("svg");
}
.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "←";
}

[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "→";
}

[dir=rtl] .slick-next:before {
  content: "←";
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #000;
}

/*!
Colorbox Core Style:
The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

#cboxWrapper {
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

#cboxOverlay {
  background: #fff;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#colorbox {
  outline: 0;
}

#cboxContent {
  margin-top: 32px;
  overflow: visible;
  background: #000;
}

.cboxIframe {
  background: #fff;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxLoadedContent {
  background: #000;
  padding: 1px;
}

#cboxLoadingGraphic {
  background: url(../img/parts/loading.gif) no-repeat center center;
}

#cboxLoadingOverlay {
  background: #000;
}

#cboxTitle {
  position: absolute;
  top: -22px;
  left: 0;
  color: #000;
}

#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: url(../img/parts/controls.png) no-repeat 0 0;
}

#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0;
}

#cboxPrevious {
  background-position: 0 0;
  right: 44px;
}

#cboxPrevious:hover {
  background-position: 0 -25px;
}

#cboxNext {
  background-position: -25px 0;
  right: 22px;
}

#cboxNext:hover {
  background-position: -25px -25px;
}

#cboxClose {
  background-position: -50px 0;
  right: 0;
}

#cboxClose:hover {
  background-position: -50px -25px;
}

.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious {
  right: 66px;
}

.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px;
}

.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px;
}

.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0;
  right: 44px;
}

.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px;
}

#cboxOverlay {
  background: #000;
}

#cboxLoadedContent {
  background: #fff;
}

#cboxLoadedContent {
  padding: 0;
  overflow: auto;
  box-shadow: 0 1px 10px #000;
}

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose, #cboxTitle {
  top: -30px;
}

#colorbox, #cboxOverlay, #cboxWrapper {
  overflow: visible;
}

#cboxTitle {
  color: #fff;
}

#inline-content {
  margin: 20px;
}

#ajax-wrap {
  margin: 20px;
}

/* ===================================================================
 style info : リセット及びフォントサイズ
=================================================================== */
/*!
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

main {
  display: block;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

*, *:before, *:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body.home .header__inner {
  position: absolute;
  top: 0;
  z-index: 1;
}

.header {
  line-height: 1;
}
.header__inner {
  display: flex;
  align-items: center;
  width: calc(100% - 30px);
  padding: 15px 15px;
  margin: 0 auto;
  box-sizing: content-box;
}
.header__logo {
  max-width: 160px;
}
.header__right {
  margin-left: auto;
  display: none;
}
.header__address {
  text-align: right;
}
.header__address-tel {
  margin-bottom: 5px;
  color: #54c2f0;
  font-size: 3.6rem;
  font-weight: 700;
}
.header__address-tel i {
  position: relative;
  top: 2px;
  margin-right: 3px;
  font-size: 3.4rem;
}
.header__address-text {
  font-size: 1.2rem;
}
@media (min-width: 769px) {
  .header__inner {
    width: calc(100% - 60px);
    padding: 15px 30px;
  }
  .header__logo {
    max-width: 260px;
  }
  .header__right {
    display: block;
  }
}

.breadcrumbBox {
  padding: 7px 0;
  margin: 0 0 80px;
  font-size: 1.1rem;
  background-color: #eee;
}
.breadcrumbBox ul.bread_crumb {
  max-width: 1200px;
  margin: 0 auto;
}
.breadcrumbBox ul.bread_crumb li {
  display: inline-block;
}
.breadcrumbBox ul.bread_crumb li:after {
  content: ">";
  padding-left: 6px;
  margin-right: 0px;
}
.breadcrumbBox ul.bread_crumb li a {
  color: #434343;
}
.breadcrumbBox ul.bread_crumb li:last-child:after {
  content: "";
  padding-left: 0px;
  margin-right: 0px;
}
.breadcrumbBox ul.bread_crumb li br {
  display: none;
}
@media only screen and (max-width: 1230px) {
  .breadcrumbBox {
    padding: 7px 15px;
  }
}
@media only screen and (max-width: 768px) {
  .breadcrumbBox {
    margin: 0 0 40px;
    font-size: 1rem;
  }
}

.header-nav {
  width: 100%;
  background-color: #54c2f0;
}
.header-nav ul.header-nav__list {
  max-width: 1200px;
  padding: 10px 0;
  margin: 0 auto;
  letter-spacing: -0.4em;
  text-align: center;
}
.header-nav ul.header-nav__list > li {
  position: relative;
  display: inline-block;
  text-align: center;
  letter-spacing: normal;
}
.header-nav ul.header-nav__list > li > a {
  position: relative;
  display: block;
  padding: 5px 20px;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.5;
  text-decoration: none;
  transition: 0.3s;
}
.header-nav ul.header-nav__list > li > a::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.3s;
}
.header-nav ul.header-nav__list > li > a:hover::after {
  transform: scaleX(1);
}
.header-nav ul.header-nav__list > li:not(:first-child) > a:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 50%;
  background-color: #fff;
}
.header-nav ul.header-nav__list > li span {
  display: block;
  font-size: 1rem;
}
.header-nav ul.header-nav__list > li ul {
  display: none;
  position: absolute;
  z-index: 100;
  width: calc(100% - 1px);
}
.header-nav ul.header-nav__list > li ul li {
  display: block;
  width: 100% !important;
  text-align: left;
  border-bottom: 1px solid rgba(84, 194, 240, 0.2);
}
.header-nav ul.header-nav__list > li ul li:last-child {
  border-bottom: none;
}
.header-nav ul.header-nav__list > li ul li a {
  display: block;
  background-color: rgba(84, 194, 240, 0.8);
  padding: 15px 20px 15px 10px;
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
}
.header-nav ul.header-nav__list > li ul li a:hover {
  background-color: rgba(84, 194, 240, 0.7);
}

.toggle_nav_box {
  display: none;
}

.drawer {
  display: none;
}

@media only screen and (max-width: 769px) {
  .header-nav {
    display: none;
  }

  .toggle_nav_box {
    display: block;
  }

  .toggle_nav {
    z-index: 10;
  }

  .toggle_nav_bg {
    z-index: 9;
  }

  .drawer {
    z-index: 9;
  }

  .toggle_nav_box .toggle_nav {
    display: block;
    position: fixed;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 51px;
    cursor: pointer;
    background: #54c2f0;
    text-align: center;
  }
  .toggle_nav_box .toggle_nav span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px #eee;
    transition: 0.35s ease-in-out;
    left: 6px;
  }
  .toggle_nav_box .toggle_nav span:nth-child(1) {
    top: 9px;
  }
  .toggle_nav_box .toggle_nav span:nth-child(2) {
    top: 18px;
  }
  .toggle_nav_box .toggle_nav span:nth-child(3) {
    top: 27px;
  }
  .toggle_nav_box .toggle_nav span:nth-child(4) {
    border: none;
    color: #eee;
    font-size: 9px;
    font-weight: bold;
    top: 34px;
  }
  .toggle_nav_box .toggle_nav_bg {
    display: none;
  }

  body.open .toggle_nav_box .toggle_nav span:nth-child(1) {
    top: 18px;
    left: 6px;
    transform: rotate(-45deg);
  }
  body.open .toggle_nav_box .toggle_nav span:nth-child(2), body.open .toggle_nav_box .toggle_nav span:nth-child(3) {
    top: 18px;
    transform: rotate(45deg);
  }
  body.open .toggle_nav_box .toggle_nav_bg {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    transition: background-color 0.6s;
    background-color: rgba(0, 0, 0, 0.3);
  }

  /* ドロワーメニュー */
  .drawer {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.4s;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .drawer .drawer_menu {
    padding: 0;
    list-style-type: none;
  }

  .open .drawer {
    transform: translateX(0);
  }

  .drawer {
    padding: 80px 0 80px;
  }
  .drawer .drawer_menu > li > a {
    position: relative;
    display: block;
    padding: 15px 15px 15px 20px;
    margin: 0 15px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
  }
  .drawer .drawer_menu > li > a::before, .drawer .drawer_menu > li > a::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
  }
  .drawer .drawer_menu > li > a::before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #54c2f0;
  }
  .drawer .drawer_menu > li > a::after {
    left: 5px;
    box-sizing: border-box;
    width: 3px;
    height: 3px;
    border: 3px solid transparent;
    border-left: 3px solid #fff;
  }
  .drawer .drawer_menu > li > a.open_menu::after {
    left: 3px;
    top: 3px;
    transform: rotate(85deg);
  }
  .drawer .drawer_menu > li > .sub-menu {
    display: none;
  }
  .drawer .drawer_menu > li > .sub-menu > li > a {
    position: relative;
    display: block;
    padding: 15px 15px 15px 40px;
    margin: 0 15px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
  }
  .drawer .drawer_menu > li > .sub-menu > li > a::before, .drawer .drawer_menu > li > .sub-menu > li > a::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
  }
  .drawer .drawer_menu > li > .sub-menu > li > a::before {
    left: 25px;
    box-sizing: border-box;
    width: 4px;
    height: 4px;
    border: 4px solid transparent;
    border-left: 4px solid #54c2f0;
  }
}
.footer {
  padding-bottom: 50px !important;
}
@media (min-width: 769px) {
  .footer {
    padding-bottom: 0 !important;
  }
}
.footer .page_top {
  padding-bottom: 40px;
}
.footer .page_top.stop {
  padding-bottom: 0;
}
@media (min-width: 769px) {
  .footer .page_top {
    padding-bottom: 0;
  }
}

.page_top {
  z-index: 10;
}
.page_top a {
  height: 50px;
  width: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #54c2f0;
  text-decoration: none;
  border-radius: 50%;
  color: #fff;
  line-height: 1;
  font-size: 3rem;
  font-weight: 400;
}
.page_top a svg {
  fill: #fff;
  stroke: #fff;
  stroke-width: 1;
}

.footer-floating {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  border-top: 1px solid #fff;
}
.footer-floating p {
  position: relative;
  width: calc(100% / 3);
}
.footer-floating p:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 1px;
  height: 80%;
  margin: auto;
  background-color: #fff;
}
.footer-floating p a {
  position: relative;
  display: block;
  width: 100%;
  padding: 12px 5px;
  background-color: #54c2f0;
  color: #fff;
  text-decoration: none;
}
.footer-floating p a::before {
  font-family: fontAwesome;
  content: "";
  margin-right: 5px;
  color: #fff;
  font-size: 1.4rem;
}
.footer-floating p:nth-child(2) a::before {
  content: "";
  margin-right: 7px;
}
.footer-floating p:nth-child(3) a::before {
  content: "";
}
@media (min-width: 374px) {
  .footer-floating p a {
    padding: 12px 10px;
  }
}
@media (min-width: 769px) {
  .footer-floating {
    display: none;
  }
}

/* content-footer（メインフッターコンテンツ）
----------------------------------------------------*/
.content-footer {
  padding: 20px 0 30px 0;
  margin-top: 40px;
  background-color: rgba(84, 194, 240, 0.15);
}
.content-footer__inner {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}
.content-footer .col2-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
}
.content-footer .col2-box__left {
  width: 100%;
  margin-bottom: 10px;
}
.content-footer .col2-box__left figure img {
  border: 2px solid #fff;
}
.content-footer .col2-box__right {
  width: 100%;
}
.content-footer .col2-box__right p {
  margin-bottom: 0;
}
.content-footer .col2-box__right .tel {
  font-size: 2.4rem;
  font-weight: bold;
}
.content-footer .col2-box__right .tel::before {
  font-family: "FontAwesome";
  content: "";
  margin-right: 5px;
  float: left;
  display: block;
  position: relative;
  top: 2px;
}
.content-footer .col2-box__right .table_schedule {
  margin-top: 10px;
}
.content-footer .col2-box__right .table_schedule thead th, .content-footer .col2-box__right .table_schedule th {
  padding: 4px;
}
.content-footer__map {
  margin-bottom: 0;
}
.content-footer__map iframe {
  width: 100%;
  height: 350px;
}
@media (min-width: 768px) {
  .content-footer {
    padding: 30px 0 30px 0;
  }
  .content-footer .col2-box {
    flex-direction: row;
  }
  .content-footer .col2-box__left {
    width: 40%;
  }
  .content-footer .col2-box__right {
    width: 57%;
  }
  .content-footer .col2-box__right .table_schedule thead th, .content-footer .col2-box__right .table_schedule th {
    padding: 5px;
  }
  .content-footer__map {
    margin-bottom: 0;
  }
  .content-footer__map iframe {
    width: 100%;
    height: 400px;
  }
}

.footer {
  clear: both;
  background-color: #54c2f0;
  text-align: center;
  padding: 0 0;
}
.footer__nav {
  padding: 0 0;
}
.footer__nav li {
  display: block;
  margin: auto 0;
}
.footer__nav li a {
  position: relative;
  display: block;
  padding: 15px 20px 15px 30px;
  border-bottom: 1px solid #fff;
  background-color: #62bce2;
  color: #fff;
  text-decoration: none;
  text-align: left;
}
.footer__nav li a::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 10px;
  width: 6px;
  height: 6px;
  margin: auto;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}
.footer__nav li:not(:last-child) a::after {
  content: "";
  margin-left: 0;
}
.footer .copyright {
  padding: 10px 0;
  color: #fff;
  font-size: 1.2rem;
}
.footer .copyright a {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer {
    padding: 0 5px;
  }
  .footer__nav {
    padding: 20px 15px 10px;
  }
  .footer__nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__nav li {
    margin-right: 10px;
  }
  .footer__nav li a {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
  }
  .footer__nav li a::before {
    content: none;
  }
  .footer__nav li:not(:last-child) a::after {
    content: "|";
    margin-left: 10px;
  }
}

ul.wp-block-gallery {
  margin-left: 0;
}

.wp-block-media-text {
  margin-bottom: 1em;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.sticky,
.gallery-caption,
.bypostauthor {
  margin: 0;
}

/*-----------------------------------------------
 #sidebar
----------------------------------------------- */
#side_column {
  margin-bottom: 30px;
}
#side_column .side_ttl {
  padding: 10px 15px;
  background: #54c2f0;
  color: #fff;
  font-size: 1.6rem;
}
#side_column .side_news {
  padding: 10px;
  border: 2px solid #ccc;
  border-top: none;
  font-size: 1.3rem;
}
#side_column .side_news ul li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}
#side_column .side_news ul li a:hover {
  background-color: #9adbf6;
}
#side_column .side_shop_box .side_shop_img {
  margin-bottom: 10px;
}
#side_column .side_shop_box .side_shop_ttl::before {
  content: "▶";
  transform: scale(0.7, 0.8);
  margin-right: 2px;
  display: inline-block;
}
#side_column .side_shop_box .side_shop_txt {
  margin-bottom: 20px;
  font-size: 1.2rem;
}
#side_column .news_box {
  padding: 4px;
  border: 1px solid #cdcdcd;
}
#side_column .news_box .ttl_side {
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cdcdcd;
}
#side_column .news_box .ttl_side a {
  display: inline-block;
  float: right;
  padding: 2px 10px;
  background-color: #54c2f0;
  border-radius: 3px;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}
#side_column .news_box .news_list {
  overflow: hidden;
}
#side_column .news_box .news_list dt {
  float: left;
  clear: left;
  width: 70px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.2rem;
  border-top: 1px solid #cdcdcd;
}
#side_column .news_box .news_list dt:nth-of-type(1) {
  border-top: none;
}
#side_column .news_box .news_list dd {
  width: 150px;
  margin: 0 0 5px 70px;
  padding-top: 5px;
  padding-left: 10px;
  border-top: 1px solid #cdcdcd;
  font-size: 1.2rem;
}
#side_column .news_box .news_list dd:nth-of-type(1) {
  border-top: none;
}
#side_column .news_box .news_list dd a {
  color: #434343;
  text-decoration: none;
}

/* スマホ用
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  #side_column {
    float: none;
    width: 96%;
    margin: 0 auto 40px;
  }
  #side_column .side_shop_box .side_shop_img {
    text-align: center;
  }
  #side_column .news_box .news_list dt {
    width: 25%;
    font-size: 1.2rem;
    border-top: 1px solid #cdcdcd;
  }
  #side_column .news_box .news_list dd {
    width: 80%;
    margin: 0 0 5px 80px;
    padding-left: 10px;
  }
}
/* スクロールバーの有無によるズレ対策 */
html {
  overflow-y: scroll;
  font-size: 62.5%;
}

body {
  overflow: hidden;
  position: relative;
  color: #434343;
  font-size: 1.6rem;
  font-family: "Noto Sans JP", "-apple-system", BlinkMacSystemFont, "Helvetica Neue", Roboto, "Droid Sans", Arial, "Yu Gothic", YuGothic, Meiryo, sans-serif;
  line-height: 1.8;
  background-color: #fff;
}
body .pc {
  display: block;
}
body .sp {
  display: none;
}
body .h_nav {
  display: block;
}
body .sp_side_nav {
  display: none;
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 1.4rem;
    line-height: 1.7;
  }
  body img {
    max-width: 100%;
    height: auto;
  }
  body .pc {
    display: none;
  }
  body .sp {
    display: block;
  }
  body .h_nav {
    display: none;
  }
  body .sp_side_nav {
    display: block;
  }
}

::selection {
  background: #54c2f0;
  color: #fff;
  text-shadow: none;
}

img {
  max-width: 100%;
  height: auto;
}

.entry-content > .inner > *:first-child {
  margin-top: 0;
}

.entry-content {
  margin-bottom: 100px;
}

/* コンテンツ共通
----------------------------------------------------*/
/* 12 COLUMN : RESPONSIVE GRID SYSTEM SPレイアウト */
@media (max-width: 767px) {
  .sp_image_cols:not(.sp_col2):not(.sp_col3) .col:not(:last-child) {
    margin-bottom: 1em;
  }
  .sp_image_cols:not(.sp_col2):not(.sp_col3) .col figure {
    overflow: hidden;
  }
  .sp_image_cols:not(.sp_col2):not(.sp_col3) .col figure img {
    float: left;
    width: 32%;
    margin-bottom: 10px;
    vertical-align: middle;
  }
  .sp_image_cols:not(.sp_col2):not(.sp_col3) .col figure figcaption {
    float: right;
    width: 66%;
    margin-top: 0;
    vertical-align: middle;
  }
  .sp_image_cols.sp_col2 .col {
    width: 49%;
  }
  .sp_image_cols.sp_col2 .col:nth-child(odd) {
    clear: both;
    float: left;
  }
  .sp_image_cols.sp_col2 .col:nth-child(even) {
    float: right;
  }
  .sp_image_cols.sp_col3 .col {
    float: left;
    width: 32%;
  }
  .sp_image_cols.sp_col3 .col:nth-child(3n+1) {
    clear: both;
    margin-right: 2%;
  }
  .sp_image_cols.sp_col3 .col:nth-child(3n) {
    float: right;
  }
}
figcaption, figure {
  text-align: center;
}

body:not(.home) main {
  min-height: 711px;
}

main > *:last-child,
main > *:last-child > *:last-child,
main > *:last-child > *:last-child > *:last-child,
main > *:last-child > *:last-child > *:last-child > *:last-child,
main > *:last-child > *:last-child > *:last-child > *:last-child > *:last-child,
main > *:last-child > *:last-child > *:last-child > *:last-child > *:last-child > *:last-child,
main > *:last-child > *:last-child > *:last-child > *:last-child > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
    text-decoration: none;
    color: #434343;
  }
}
.inner {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
  box-sizing: content-box;
}

/* page（個別ページ）
----------------------------------------------------*/
.bg_color01,
.bg_color02 {
  padding: 60px 0;
  width: 100vw;
  max-width: none;
  margin: 0 calc(50% - 50vw);
  background-color: #eee;
}
.bg_color01 .row, .bg_color01 .inner,
.bg_color02 .row,
.bg_color02 .inner {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  box-sizing: content-box;
}
.bg_color01 .row > .col *:last-child, .bg_color01 .inner > .col *:last-child,
.bg_color02 .row > .col *:last-child,
.bg_color02 .inner > .col *:last-child {
  margin-bottom: 0;
}
.bg_color02 {
  background-color: #fff8f2;
}

/*  サイトマップ
----------------------------------------------------*/
.body-sitemap .sec_sitemap ul {
  border-top: 1px solid #ccc;
}
.body-sitemap .sec_sitemap ul li {
  list-style: none;
  border-bottom: 1px solid #ccc;
}
.body-sitemap .sec_sitemap ul li a {
  display: block;
  position: relative;
  padding: 10px 15px 10px 15px;
  font-size: 1.6rem;
  text-decoration: none;
}
.body-sitemap .sec_sitemap ul li a::before {
  position: relative;
  top: -2px;
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 7px;
  height: 7px;
  background-color: #54c2f0;
}
.body-sitemap .sec_sitemap ul li a:hover {
  background-color: rgba(84, 194, 240, 0.2);
}
.body-sitemap .sec_sitemap ul li > ul li:last-child {
  border-bottom: none;
}
.body-sitemap .sec_sitemap ul li > ul li a {
  padding-left: 40px;
}
.body-sitemap .sec_sitemap ul li > ul li a::before {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

.post-password-form {
  padding: 100px 0 400px;
}

.box404 {
  padding: 100px 15px 200px;
  word-wrap: break-word;
}

.contact-box {
  width: 100%;
  max-width: 1200px;
}
.contact-box__dl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.contact-box dt, .contact-box dd {
  width: 100%;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}
.contact-box dt {
  display: flex;
  align-items: center;
  padding: 15px 15px 0;
  border-bottom: none;
}
.contact-box dd {
  padding: 15px 10px;
}
@media (min-width: 768px) {
  .contact-box__dl {
    flex-direction: row;
  }
  .contact-box dt {
    width: 40%;
    padding: 15px 15px 15px 25px;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
  .contact-box dd {
    width: calc(100% - 40%);
  }
}
.contact-box .req {
  font-size: 1.1rem;
  background: #f44522;
  color: #fff;
  padding: 3px 6px 4px 5px;
  margin-right: 10px;
  position: relative;
  top: -2px;
}
.contact-box .ex {
  font-size: 1.1rem;
  background: #f3f3f3;
  display: inline-block;
  padding: 2px 6px 3px;
  position: relative;
  top: -2px;
  margin-right: 5px;
}
.contact-box .zip_code {
  max-width: 200px;
}
.contact-box input,
.contact-box textarea,
.contact-box select {
  padding: 12px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  color: #666;
  box-shadow: 0 0 2px #d6d6d6 inset;
}
.contact-box input,
.contact-box textarea {
  width: 100%;
  line-height: 1.4;
}
.contact-box input[type=checkbox],
.contact-box input[type=radio] {
  width: auto;
}
.contact-box input[type=text]:focus,
.contact-box textarea:focus {
  border-color: #83B6C2;
  outline: none;
  box-shadow: 2px 2px 4px rgba(143, 183, 222, 0.6), -2px -2px 4px rgba(143, 183, 222, 0.6), inset 0 1px 2px rgba(51, 51, 51, 0.2);
}
.contact-box .submit_btn {
  text-align: center;
  padding: 3%;
  width: 100%;
}
.contact-box input[type=submit] {
  width: 100%;
  max-width: 280px;
  margin: 0 10px 10px 10px;
  -webkit-appearance: none;
  border-radius: 5px;
  background: #54c2f0;
  color: #FFF;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #54c2f0;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 1.8rem;
}
.contact-box input[type=submit]:hover {
  border-radius: 5px;
  background: #fff;
  color: #333;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.35s, color 0.35s;
  border: 1px solid #54c2f0;
}
.contact-box input[type=submit][name=submitBack] {
  background-color: #999;
  border: 1px solid #999;
}
.contact-box input[type=submit][name=submitBack]:hover {
  background: #fff;
}

::-webkit-input-placeholder {
  color: #AFAFAF;
}

:-moz-placeholder {
  color: #AFAFAF;
}

.mwform-radio-field,
.mwform-checkbox-field {
  display: block;
  margin-left: 0 !important;
}

.mw_wp_form .error {
  font-size: 80% !important;
  color: #f44522 !important;
  display: block;
  padding-top: 5px;
}

.mw_wp_form.mw_wp_form_complete {
  margin: 50px auto 350px;
}

.mwform-tel-field input[type=text],
.mwform-zip-field input[type=text] {
  width: 25% !important;
}

.content-archive {
  margin-bottom: 20px;
}
.content-archive article {
  margin-bottom: 10%;
}
.content-archive h2 {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid #54c2f0;
  text-align: left;
  font-size: 2rem;
  line-height: 1.4;
}
.content-archive .data {
  font-size: 1.4rem;
}
.content-archive .btn_more {
  text-align: right;
}
@media only screen and (min-width: 768px) {
  .content-archive article {
    margin-bottom: 5%;
  }
  .content-archive h2 {
    font-size: 2.4rem;
  }
}

.archive_box_tmb {
  display: flex;
  flex-wrap: wrap;
}
.archive_box_tmb .archive_box_inner {
  width: 30%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.archive_box_tmb .archive_box_inner:nth-child(3n) {
  margin-right: 0;
}
.archive_box_tmb .archive_box_inner a {
  text-decoration: none;
}
.archive_box_tmb .archive_box_inner a figure .img {
  overflow: hidden;
}
.archive_box_tmb .archive_box_inner a figure .img img {
  max-width: 100%;
  transition-duration: 0.3s;
}
.archive_box_tmb .archive_box_inner a figure figcaption {
  text-align: left;
  line-height: 1.6;
  margin-top: 10px;
}
.archive_box_tmb .archive_box_inner a figure figcaption h2 {
  font-weight: normal;
}
.archive_box_tmb .archive_box_inner a:hover figure .img img {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
@media only screen and (max-width: 1200px) {
  .archive_box_tmb {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .archive_box_tmb .archive_box_inner {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%;
  }
  .archive_box_tmb .archive_box_inner:nth-child(3n) {
    margin-right: 4%;
  }
  .archive_box_tmb .archive_box_inner:nth-child(2n) {
    margin-right: 0;
  }
}

.pagination {
  clear: both;
  width: 100%;
  padding: 20px 0;
  position: relative;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
.pagination .pagination-box {
  display: inline-block;
}
.pagination .pagination-box span,
.pagination .pagination-box a {
  display: block;
  float: left;
  margin: 2px 2px 2px 0;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  width: auto;
  color: #fff;
  background: #54c2f0;
}
.pagination .pagination-box a:hover {
  background: rgba(84, 194, 240, 0.8);
}
.pagination .pagination-box .current {
  padding: 10px 15px 10px 15px;
  background: rgba(84, 194, 240, 0.8);
  color: #fff;
}
@media only screen and (max-width: 413px) {
  .pagination {
    font-size: 12px;
    line-height: 12px;
  }
  .pagination span,
.pagination a {
    padding: 8px 10px 8px 10px;
  }
  .pagination .current {
    padding: 8px 10px 8px 10px;
  }
}

/* single（シングルページ）
----------------------------------------------------*/
.single-text-box {
  overflow: hidden;
  /* editor */
  /* img */
}
.single-text-box strong {
  font-weight: bold;
}
.single-text-box em {
  font-style: italic;
}
.single-text-box blockquote {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}
.single-text-box .aligncenter {
  display: block;
  margin: 0 auto;
}
.single-text-box .alignright {
  float: right;
  margin-left: 1%;
  margin-bottom: 1%;
}
.single-text-box .alignleft {
  float: left;
  margin-right: 1%;
  margin-bottom: 1%;
}
.single-text-box img[class*=wp-image-],
.single-text-box img[class*=attachment-] {
  height: auto;
  max-width: 100%;
}
@media only screen and (max-width: 768px) {
  .single-text-box .alignright,
.single-text-box .alignleft {
    float: none;
    margin: auto;
    display: block;
  }
}

.parts-faq {
  margin-bottom: 30px;
}
.parts-faq__q {
  padding: 9px 0 6px 38px;
  margin-bottom: 20px;
  background: url(../img/parts/icon_q.png) left 9px no-repeat;
  background-size: 30px;
  color: #54c2f0;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.4;
}
.parts-faq__a {
  background: url(../img/parts/icon_a.png) left 4px no-repeat;
  background-size: 30px;
  padding: 7px 0 6px 38px;
}
@media (min-width: 768px) {
  .parts-faq {
    margin-bottom: 60px;
  }
  .parts-faq__q {
    padding: 9px 0 6px 46px;
    background-size: auto;
    font-size: 2.3rem;
  }
  .parts-faq__a {
    padding: 7px 0 6px 46px;
    margin-bottom: 40px;
    background-size: auto;
  }
}

.entry-content img {
  max-width: 100%;
  height: auto;
}
.entry-content ol, .entry-content ul:not(.imgs-block) {
  margin-left: 30px;
  margin-bottom: 1em;
}
.entry-content ol:not(.imgs-block) {
  margin-left: 25px;
}
.entry-content ul {
  list-style-type: disc;
}
.entry-content ol {
  list-style-type: decimal;
}
.entry-content p {
  margin-bottom: 10px;
}
.entry-content table {
  width: 100%;
  margin-bottom: 1em;
}
.entry-content table caption {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 1.6rem;
}
.entry-content table th, .entry-content table td {
  border: 1px solid #efefef;
  padding: 10px;
  text-align: center;
}
.entry-content table thead th {
  background: #54c2f0;
  color: #fff;
}
.entry-content table tbody th {
  background: #fff;
}
.entry-content table td {
  background: #fff;
  text-align: left;
}
.entry-content .alignright {
  text-align: right;
}
.entry-content .alignleft {
  text-align-last: auto;
}
.entry-content .aligncenter {
  text-align: center;
}

.custom_txt {
  margin-bottom: 40px;
}

table.normal_table,
table.menu_table {
  width: 100%;
  margin: 0 auto 10%;
}
@media (min-width: 768px) {
  table.normal_table,
table.menu_table {
    margin: 0 auto 5%;
  }
}

table.menu_table tr:first-child th, table.menu_table tr:first-child td {
  padding-top: 0;
  word-break: break-all;
}
table.menu_table tr th, table.menu_table tr td {
  border: none;
  background: none;
}
table.menu_table tr th {
  text-align: left;
  padding-top: 20px;
  border-bottom: 1px solid #808080;
}
table.menu_table tr td {
  text-align: right;
  border-bottom: 1px solid #808080;
  padding-top: 20px;
}
table.menu_table tr td.td_cp2 {
  font-size: 1.3rem;
  padding-top: 6px;
  border-bottom: none;
  text-align: left;
}
table.menu_table tr td.td_cp2 p {
  margin-bottom: 0;
}

table.normal_table {
  border-collapse: collapse;
}
table.normal_table tr th, table.normal_table tr td {
  padding: 10px 20px;
  word-break: break-all;
}
table.normal_table tr th {
  width: 30%;
  background-color: #54c2f0;
  border: 1px solid #c0c0c0;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
table.normal_table tr:last-child th {
  border-bottom: 1px solid #c0c0c0;
}
table.normal_table tr td {
  border: 1px solid #c0c0c0;
}
table.normal_table tr td.td_cp2 {
  padding-top: 6px;
  border: 1px solid #c0c0c0;
  font-size: 1.3rem;
  text-align: left;
}
table.normal_table tr td.td_cp2 p {
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  table.normal_table tr th, table.normal_table tr td {
    padding: 10px;
  }
}

.table_notes {
  display: block;
  margin: 20px 0 10px;
  text-align: center;
  color: #999;
}
@media (min-width: 769px) {
  .table_notes {
    display: none;
  }
}

.custom_table_scroll {
  overflow: auto;
  margin: 0 0 10%;
}
.custom_table_scroll table.custom_table {
  width: 768px;
  margin-bottom: 20px;
}
.custom_table_scroll table.custom_table tr th {
  width: auto;
}
@media (min-width: 769px) {
  .custom_table_scroll {
    margin: 0 0 5%;
  }
  .custom_table_scroll table.custom_table {
    width: 100%;
  }
}

.custom_table_scroll::-webkit-scrollbar {
  height: 10px;
}

.custom_table_scroll::-webkit-scrollbar-track {
  background: #F1F1F1;
}

.custom_table_scroll::-webkit-scrollbar-thumb {
  background: #BCBCBC;
}

.entry-content .list-block {
  margin-bottom: 20px;
}
.entry-content .list-block ul {
  padding: 0 0 0 27px;
  margin-left: 0;
  list-style-type: disc;
}
.entry-content .list-block ol {
  padding: 0 0 0 22px;
  margin-left: 0;
  margin-bottom: 0;
}
.entry-content .list-block ul.check {
  padding: 0 0 0 0;
  list-style: none;
}
.entry-content .list-block ul.check li {
  position: relative;
  padding-left: 26px;
}
.entry-content .list-block ul.check li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  margin-right: 7px;
  color: #54c2f0;
  font-size: 2.2rem;
  font-family: "FontAwesome";
  line-height: 1;
}

.entry-content .custom_img {
  margin-bottom: 30px;
}

.imgs-block {
  margin-bottom: 30px;
  text-align: center;
  list-style: none;
  letter-spacing: -0.4em;
}
.imgs-block li {
  width: 48%;
  margin-right: 4%;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}
.imgs-block li:last-child {
  margin-right: 0;
}
.imgs-block li .imgs-block-img {
  margin-bottom: 5px;
}
.imgs-block li .imgs-block-ttl,
.imgs-block li .imgs-block-txt {
  text-align: left;
}
.imgs-block li .imgs-block-ttl {
  font-weight: 600;
  font-size: 1.5rem;
  border-bottom: 1px solid #54c2f0;
}
.imgs-block li .imgs-block-btn a {
  display: inline-block;
  min-width: 240px;
  padding: 0.5em 1.8em;
  background-color: #54c2f0;
  border-radius: 3px;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.42;
  text-decoration: none;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.35s, color 0.35s;
  letter-spacing: 2px;
}
.imgs-block li .imgs-block-btn a:hover {
  border-radius: 5px;
  background: #9adbf6;
  transition: background-color 0.35s, color 0.35s;
}
.imgs-block.set-3 li {
  width: 31%;
  margin-right: 3.5%;
}
.imgs-block.set-3 li:last-child {
  margin-right: 0;
}
.imgs-block.set-4 li {
  width: 23%;
  margin-right: 2.6666666667%;
}
.imgs-block.set-4 li:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  .imgs-block li {
    display: inline-block;
  }
  .imgs-block li:last-child {
    margin-right: 0;
  }
  .imgs-block li .imgs-block-img {
    margin-bottom: 10px;
  }
  .imgs-block li .imgs-block-btn a {
    min-width: 0;
    padding: 0.5em 0.5em;
    font-size: 1.4rem;
  }
  .imgs-block.imgs-block-sp-tate li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .imgs-block.imgs-block-sp-tate2 li {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 20px;
  }
  .imgs-block.imgs-block-sp-tate2 li:nth-child(2n) {
    margin-right: 0;
  }
  .imgs-block.imgs-block-sp-tate2 li:last-child, .imgs-block.imgs-block-sp-tate2 li:nth-child(3) {
    margin-bottom: 0;
  }
}
.custom_video {
  position: relative;
  width: 80%;
  margin: 0 auto 30px;
  padding-top: 50.25%;
}
.custom_video iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}
@media only screen and (max-width: 768px) {
  .custom_video {
    width: 100%;
    padding-top: 56.25%;
  }
}

.custom_google_map {
  margin: 0 auto 30px;
}
.custom_google_map iframe {
  width: 100%;
}

.custom_anchor_link_text a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px 10px;
  background-color: #54c2f0;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.custom_anchor_link_text a:hover {
  background-color: rgba(84, 194, 240, 0.8);
}

.page-ttl {
  padding: 2em 15px;
  background: #54c2f0 url(../img/share/bg_h1.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 2.8rem;
  line-height: 1.1;
}
.page-ttl span {
  display: inline-block;
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: content-box;
}
@media (min-width: 768px) {
  .page-ttl {
    padding: 2.5em 15px;
    font-size: 3.6rem;
  }
}

h2:not(.no-style) {
  position: relative;
  margin: 1.5em 0 1.5em 0;
  text-align: center;
  font-size: 2.4rem;
  line-height: 1.4;
}
h2:not(.no-style) span.sub-title {
  display: block;
  padding-top: 0.8em;
  color: #434343;
  font-size: 1.4rem;
}
h2:not(.no-style):first-child {
  margin-top: 0;
}
h2:not(.no-style)::after {
  content: "";
  display: block;
  order: 2;
  width: 40px;
  height: 3px;
  margin: 1em auto 0;
  background: #54c2f0;
}
@media (min-width: 768px) {
  h2:not(.no-style) {
    font-size: 3.6rem;
  }
  h2:not(.no-style) span.sub-title {
    font-size: 1.8rem;
  }
}

h3:not(.no-style) {
  position: relative;
  padding-bottom: 0.2em;
  border-bottom: 4px solid #ccc;
  margin: 1.5em 0 1.5em 0;
  color: #434343;
  font-size: 1.8rem;
  line-height: 1.4;
  box-sizing: border-box;
}
h3:not(.no-style)::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 2;
  content: "";
  width: 20%;
  height: 4px;
  background-color: #54c2f0;
}
h3:not(.no-style):first-child {
  margin-top: 0;
}
@media (min-width: 768px) {
  h3:not(.no-style) {
    font-size: 2rem;
    margin: 1.5em 0 1em 0;
  }
}

h4:not(.no-style) {
  margin-bottom: 2%;
  margin-top: 3%;
  padding-left: 10px;
  padding-bottom: 0.2em;
  font-size: 1.6rem;
  line-height: 1.4;
  border-left: 4px solid #54c2f0;
  background: url(../img/share/bg_ttl03.png) left 0 no-repeat;
}
h4:not(.no-style):first-child {
  margin-top: 0;
}
@media (min-width: 768px) {
  h4:not(.no-style) {
    font-size: 1.8rem;
  }
}

.mv {
  position: relative;
  padding: 0 0;
}
.mv__inner {
  width: 100%;
  margin: 0 auto;
}
.mv__inner div img {
  display: none;
  width: 100%;
}
.mv__inner div:first-child img {
  display: block;
}
.mv__inner .slick-prev:before {
  content: "";
  padding: 60%;
  left: 20%;
  position: absolute;
  border-left: solid 2px #fff;
  border-bottom: solid 2px #fff;
  transform: rotate(45deg);
}
.mv__inner .slick-next:before {
  content: "";
  padding: 60%;
  right: 20%;
  position: absolute;
  border-right: solid 2px #fff;
  border-bottom: solid 2px #fff;
  transform: rotate(-45deg);
}
.mv__inner .slick-next {
  right: calc((100vw - 1000px) / 2 - 10px);
  z-index: 99;
}
.mv__inner .slick-prev {
  left: calc((100vw - 1000px) / 2 - 30px);
  z-index: 100;
}
.mv__inner .slick-dots li button:hover:before,
.mv__inner .slick-dots li button:focus:before,
.mv__inner .slick-dots li.slick-active button:before {
  color: #f60;
}
.mv__copy {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 80%;
  margin: auto;
}
.mv__copy img {
  width: auto !important;
}
@media (min-width: 768px) {
  .mv__copy {
    width: auto;
  }
}
.mv__copy01 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 5;
  max-width: 50%;
}
@media (min-width: 768px) {
  .mv__copy01 {
    max-width: 40%;
  }
}

.mv .mv__inner.mv__fade {
  text-align: center;
}
.mv .mv__inner.mv__fade .slick-next {
  right: 35px;
}
.mv .mv__inner.mv__fade .slick-prev {
  left: 35px;
}
@media only screen and (max-width: 768px) {
  .mv .mv__inner.mv__fade .slick-next {
    right: 16px;
  }
  .mv .mv__inner.mv__fade .slick-prev {
    left: 10px;
  }
}

.btn_more a {
  position: relative;
  display: inline-block;
  padding: 7px 18px;
  background-color: #54c2f0;
  border: 1px solid #54c2f0;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.4rem;
  font-family: "Ubuntu", "Noto Sans JP", "-apple-system", BlinkMacSystemFont, "Helvetica Neue", Roboto, "Droid Sans", Arial, "Yu Gothic", YuGothic, Meiryo, sans-serif;
  line-height: 1;
  letter-spacing: 2px;
  transition: 0.2s ease-in-out;
}
.btn_more a.add_arrow {
  padding: 7px 18px 5px;
}
.btn_more a.add_arrow::before, .btn_more a.add_arrow::after {
  position: absolute;
  top: -2px;
  right: 8px;
  bottom: 0;
  content: "";
  margin: auto;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  transition: 0.2s ease-in-out;
}
.btn_more a:hover {
  background: #fff;
  border: 1px solid #54c2f0;
  color: #54c2f0;
}
.btn_more a:hover.add_arrow::before, .btn_more a:hover.add_arrow::after {
  border-top: 1px solid #54c2f0;
  border-right: 1px solid #54c2f0;
}
.btn_more.inverse a {
  color: #54c2f0;
  background: #fff;
}
.btn_more.inverse a.add_arrow::before, .btn_more.inverse a.add_arrow::after {
  border-top: 1px solid #54c2f0;
  border-right: 1px solid #54c2f0;
}
.btn_more.inverse a:hover {
  background: #54c2f0;
  border: 1px solid #fff;
  color: #fff;
}
.btn_more.inverse a:hover.add_arrow::before, .btn_more.inverse a:hover.add_arrow::after {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

/* btn
----------------------------------------------------*/
.parts_btn_type_a,
.parts_btn_type_b,
.parts_btn_type_c {
  margin: 20px 0;
}

.parts_btn_type_a {
  margin: 20px 0;
}
.parts_btn_type_a a {
  position: relative;
  display: inline-block;
  min-width: 280px;
  padding: 1em 2em;
  background-color: #54c2f0;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.42;
  text-decoration: none;
  text-align: center;
  border: 1px solid #54c2f0;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.35s, color 0.35s;
  letter-spacing: 2px;
}
.parts_btn_type_a a:hover {
  color: #54c2f0;
  background: #fff;
  border: 1px solid #54c2f0;
  transition: background-color 0.35s, color 0.35s;
}
.parts_btn_type_a a::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 7%;
  margin: auto;
  width: 6px;
  height: 6px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: translate(0, -50%) rotate(45deg);
  transition: 0.2s;
}
.parts_btn_type_a a:hover::after {
  right: 5%;
  border-top: 1px solid #54c2f0;
  border-right: 1px solid #54c2f0;
}
.parts_btn_type_a.btn_sm a {
  font-size: 1.4rem;
}
.parts_btn_type_a.btn_lg a {
  font-size: 1.8rem;
}

.parts_btn_type_b {
  margin: 20px 0;
}
.parts_btn_type_b a {
  display: inline-block;
  padding: 1em 1.8em;
  background-color: #fff;
  border: 2px solid #54c2f0;
  border-radius: 5px;
  color: #54c2f0;
  font-size: 1.6rem;
  line-height: 1.42;
  text-decoration: none;
  transition: background-color 0.35s, color 0.35s;
  letter-spacing: 2px;
}
.parts_btn_type_b a:hover {
  border-radius: 5px;
  background-color: #54c2f0;
  color: #fff;
  transition: background-color 0.35s, color 0.35s;
}
.parts_btn_type_b.btn_sm a {
  font-size: 1.4rem;
}
.parts_btn_type_b.btn_lg a {
  font-size: 1.8rem;
}

.parts_btn_type_c {
  margin: 20px 0;
}
.parts_btn_type_c a {
  display: inline-block;
  padding: 1em 1.8em;
  background-color: #54c2f0;
  border-radius: 2em;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.42;
  text-decoration: none;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.35s, color 0.35s;
  letter-spacing: 2px;
}
.parts_btn_type_c a:hover {
  background: #9adbf6;
  transition: background-color 0.35s, color 0.35s;
}
.parts_btn_type_c.btn_sm a {
  font-size: 1.4rem;
}
.parts_btn_type_c.btn_lg a {
  font-size: 1.8rem;
}

.btnBox {
  text-align: center;
  margin: 20px 0;
}

.btn01 a {
  min-width: 300px;
  padding: 10px 30px;
  display: inline-block;
  background-color: #54c2f0;
  text-decoration: none;
  -webkit-appearance: none;
  border-radius: 5px;
  font-size: 1.6rem;
  color: #FFF;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.35s, color 0.35s;
  letter-spacing: 2px;
}
.btn01 a:hover {
  border-radius: 5px;
  background: #9adbf6;
  transition: background-color 0.35s, color 0.35s;
}

.btn02 a {
  font-size: 1.6rem;
  padding: 10px 70px;
  display: inline-block;
  background-color: #193662;
  text-decoration: none;
  -webkit-appearance: none;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.35s, color 0.35s;
  letter-spacing: 2px;
}
.btn02 a:hover {
  border-radius: 5px;
  background: #54c2f0;
  color: #fff;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.35s, color 0.35s;
}

@media screen and (max-width: 768px) {
  .btn01 a {
    width: 90%;
    min-width: auto;
    padding: 10px 40px;
  }

  .btn02 a {
    padding: 10px 30px;
  }
}
.searchform_box {
  position: relative;
  box-sizing: border-box;
  border: 2px solid #54c2f0;
  display: block;
  padding: 0 10px;
  border-radius: 3px;
  height: 2.3em;
  overflow: hidden;
}
.searchform_box input[type=text] {
  border: none;
  height: 2em;
  width: calc(100% - 3.5em);
}
.searchform_box input[type=text]:focus {
  outline: 0;
}
.searchform_box input[type=submit] {
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #54c2f0;
  color: #fff;
  position: absolute;
  width: 3.5em;
  height: 3em;
  right: 0px;
  top: -5px;
  outline: none;
}

.table_schedule {
  width: 100%;
  margin-bottom: 10px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-weight: 500;
}
.table_schedule caption {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 1.6rem;
}
.table_schedule th, .table_schedule td {
  border: 1px solid #efefef;
  padding: 5px;
  text-align: center;
}
.table_schedule thead th {
  background: #1295cc;
  color: #fff;
}
.table_schedule tbody th {
  background: #54c2f0;
  color: #fff;
}
.table_schedule td {
  background: #fff;
  color: #434343;
}

ul.list {
  list-style: none;
  padding: 0 0 0 1.3em;
}
ul.list li {
  position: relative;
  margin-bottom: 5px;
  padding-top: 2px;
}
ul.list li::after {
  display: block;
  content: "";
  position: absolute;
  top: 0.6em;
  left: -1em;
  width: 7px;
  height: 7px;
  background-color: #54c2f0;
  border-radius: 100%;
}

ol.list-ol {
  counter-reset: item;
  padding-left: 1em;
}
ol.list-ol li {
  text-indent: -1.3em;
  padding-left: 1.3em;
  margin-bottom: 10px;
}
ol.list-ol li::before {
  counter-increment: item;
  content: counter(item) ".";
  /* 以下は自由に装飾... */
  padding-right: 0.5em;
  font-weight: bold;
  color: #808080;
}

.share_button {
  max-width: 1200px;
  padding: 80px 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .share_button {
    width: 100%;
    padding: 40px 15px;
  }
}
.share_button ul li {
  display: inline-block;
}

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}

.post_module01 {
  padding: 60px 0;
}
.post_module01 .inner {
  overflow: hidden;
}
.post_module01 .inner .ttl_box {
  float: left;
  width: 20%;
}
.post_module01 .inner .ttl_box .ttl {
  font-size: 2.4rem;
  text-align: center;
}
.post_module01 .inner .ttl_box .ttl::after {
  content: none;
}
.post_module01 .inner .ttl_box .ttl a {
  display: inline-block;
  width: 100%;
  padding-top: 30px;
  height: 150px;
  background-color: #54c2f0;
  border-radius: 5px 0 0 5px;
  color: #fff;
  text-decoration: none;
}
.post_module01 .inner .ttl_box .ttl a:hover {
  background-color: rgba(84, 194, 240, 0.9);
}
.post_module01 .inner .ttl_box .ttl span {
  position: relative;
  display: block;
  width: 80px;
  margin: 10px auto 0;
  padding: 0 0 0 18px;
  background-color: #fff;
  border-radius: 20px;
  color: #0e739d;
  font-size: 1.4rem;
}
.post_module01 .inner .ttl_box .ttl span::before, .post_module01 .inner .ttl_box .ttl span::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  margin: auto;
  content: "";
  vertical-align: middle;
}
.post_module01 .inner .ttl_box .ttl span::before {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #0e739d;
}
.post_module01 .inner .ttl_box .ttl span::after {
  left: 20px;
  box-sizing: border-box;
  width: 3px;
  height: 3px;
  border: 3px solid transparent;
  border-left: 3px solid #fff;
}
.post_module01 .post_module01_in {
  float: right;
  width: 80%;
  min-height: 150px;
  max-height: 150px;
  margin: 0 auto;
  padding: 15px 20px;
  background-color: rgba(84, 194, 240, 0.2);
  border-radius: 0 5px 5px 0;
  font-size: 1.3rem;
}
.post_module01 .post_module01_in dl {
  overflow: hidden;
  zoom: 1;
  margin-bottom: 0px;
  padding: 0 0;
}
.post_module01 .post_module01_in dl dt {
  width: 100px;
  float: left;
  clear: both;
  padding: 8px 0 8px 0;
}
.post_module01 .post_module01_in dl dd {
  padding: 8px 0 8px;
  border-bottom: 1px dotted #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post_module01 .post_module01_in dl dd .iconNew {
  padding: 0 7px;
  margin-right: 5px;
  background: #14a6e4;
  color: #fff;
  font-size: 1.2rem;
}
.post_module01 .post_module01_in dl a {
  color: #434343;
  letter-spacing: 0.1em;
  text-decoration: none;
}
.post_module01 .post_module01_in dl a:hover {
  color: #54c2f0;
}
@media only screen and (max-width: 768px) {
  .post_module01 {
    padding: 30px 0;
    margin-bottom: 20px;
  }
  .post_module01 .inner {
    overflow: hidden;
  }
  .post_module01 .inner .ttl_box {
    float: none;
    width: 100%;
  }
  .post_module01 .inner .ttl_box .ttl {
    margin-bottom: 0;
    font-size: 2.4rem;
    text-align: center;
  }
  .post_module01 .inner .ttl_box .ttl a {
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
  .post_module01 .post_module01_in {
    float: none;
    width: 100%;
    min-height: 0;
    max-height: none;
    margin: 0 auto;
    padding: 15px 20px;
    background-color: rgba(84, 194, 240, 0.2);
    border-radius: 0 0 5px 5px;
  }
  .post_module01 .post_module01_in dl dt {
    width: 90px;
  }
  .post_module01 .post_module01_in dl dd {
    padding: 8px 0 8px 5px;
  }
}

.top-lead {
  padding: 60px 15px;
  background: url("https://placehold.jp/1920x500.png?text=images") no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.top-lead__inner {
  max-width: 1200px;
  padding: 30px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.top-lead__inner h2 {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 2.4rem;
}
@media (min-width: 768px) {
  .top-lead {
    background-attachment: fixed;
  }
}

.top-cont01 {
  padding: 60px 15px 0;
}
.top-cont01 .container {
  margin-bottom: 0;
}
.top-cont01 figure {
  text-align: center;
}

.top-cont02 {
  padding: 60px 15px 40px;
}
.top-cont02 .container {
  margin-bottom: 0;
}
.top-cont02 .row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.top-cont02 .row::after {
  content: none;
}
.top-cont02 .col.span_3 {
  position: relative;
  max-width: 640px;
  padding-bottom: 40px;
  margin: 0 auto 45px;
}
.top-cont02 .col.span_3 .top-cont03__h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #54c2f0;
}
.top-cont02 .col.span_3 .btn_more {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}
.top-cont02 .col.span_3 .btn_more a.add_arrow {
  padding: 7px 18px 7px;
}
@media (min-width: 768px) {
  .top-cont02 .row {
    flex-direction: row;
  }
  .top-cont02 .col.span_3 {
    margin: 0 0;
  }
}

.bg_white,
.bg_gray,
.bg_pink,
.bg_blue,
.bg_green {
  padding: 15px;
  margin: 0 0 20px;
  background-color: #fff;
}
.bg_white *:last-child,
.bg_white *:last-child > *:last-child,
.bg_gray *:last-child,
.bg_gray *:last-child > *:last-child,
.bg_pink *:last-child,
.bg_pink *:last-child > *:last-child,
.bg_blue *:last-child,
.bg_blue *:last-child > *:last-child,
.bg_green *:last-child,
.bg_green *:last-child > *:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .bg_white,
.bg_gray,
.bg_pink,
.bg_blue,
.bg_green {
    padding: 20px;
    margin: 0 0 20px;
  }
}

.bg_gray {
  background-color: #efefef;
}

.bg_pink {
  background-color: #ffe1e1;
}

.bg_blue {
  background-color: #e8e9ff;
}

.bg_green {
  background-color: #edffe8;
}

.row-1-9,
.row-2-8,
.row-3-7,
.row-4-6,
.row-5-5,
.row-6-4,
.row-7-3,
.row-8-2,
.row-9-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}
.row-1-9 .left,
.row-1-9 .right,
.row-2-8 .left,
.row-2-8 .right,
.row-3-7 .left,
.row-3-7 .right,
.row-4-6 .left,
.row-4-6 .right,
.row-5-5 .left,
.row-5-5 .right,
.row-6-4 .left,
.row-6-4 .right,
.row-7-3 .left,
.row-7-3 .right,
.row-8-2 .left,
.row-8-2 .right,
.row-9-1 .left,
.row-9-1 .right {
  width: 100%;
}
.row-1-9 .left img,
.row-1-9 .right img,
.row-2-8 .left img,
.row-2-8 .right img,
.row-3-7 .left img,
.row-3-7 .right img,
.row-4-6 .left img,
.row-4-6 .right img,
.row-5-5 .left img,
.row-5-5 .right img,
.row-6-4 .left img,
.row-6-4 .right img,
.row-7-3 .left img,
.row-7-3 .right img,
.row-8-2 .left img,
.row-8-2 .right img,
.row-9-1 .left img,
.row-9-1 .right img {
  max-width: 90%;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .row-1-9,
.row-2-8,
.row-3-7,
.row-4-6,
.row-5-5,
.row-6-4,
.row-7-3,
.row-8-2,
.row-9-1 {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
  }
  .row-1-9.reverse,
.row-2-8.reverse,
.row-3-7.reverse,
.row-4-6.reverse,
.row-5-5.reverse,
.row-6-4.reverse,
.row-7-3.reverse,
.row-8-2.reverse,
.row-9-1.reverse {
    flex-direction: row-reverse;
  }
  .row-1-9.row-1-9 .left,
.row-2-8.row-1-9 .left,
.row-3-7.row-1-9 .left,
.row-4-6.row-1-9 .left,
.row-5-5.row-1-9 .left,
.row-6-4.row-1-9 .left,
.row-7-3.row-1-9 .left,
.row-8-2.row-1-9 .left,
.row-9-1.row-1-9 .left {
    width: 8%;
  }
  .row-1-9.row-1-9 .right,
.row-2-8.row-1-9 .right,
.row-3-7.row-1-9 .right,
.row-4-6.row-1-9 .right,
.row-5-5.row-1-9 .right,
.row-6-4.row-1-9 .right,
.row-7-3.row-1-9 .right,
.row-8-2.row-1-9 .right,
.row-9-1.row-1-9 .right {
    width: 89%;
  }
  .row-1-9.row-2-8 .left,
.row-2-8.row-2-8 .left,
.row-3-7.row-2-8 .left,
.row-4-6.row-2-8 .left,
.row-5-5.row-2-8 .left,
.row-6-4.row-2-8 .left,
.row-7-3.row-2-8 .left,
.row-8-2.row-2-8 .left,
.row-9-1.row-2-8 .left {
    width: 18%;
  }
  .row-1-9.row-2-8 .right,
.row-2-8.row-2-8 .right,
.row-3-7.row-2-8 .right,
.row-4-6.row-2-8 .right,
.row-5-5.row-2-8 .right,
.row-6-4.row-2-8 .right,
.row-7-3.row-2-8 .right,
.row-8-2.row-2-8 .right,
.row-9-1.row-2-8 .right {
    width: 79%;
  }
  .row-1-9.row-3-7 .left,
.row-2-8.row-3-7 .left,
.row-3-7.row-3-7 .left,
.row-4-6.row-3-7 .left,
.row-5-5.row-3-7 .left,
.row-6-4.row-3-7 .left,
.row-7-3.row-3-7 .left,
.row-8-2.row-3-7 .left,
.row-9-1.row-3-7 .left {
    width: 28%;
  }
  .row-1-9.row-3-7 .right,
.row-2-8.row-3-7 .right,
.row-3-7.row-3-7 .right,
.row-4-6.row-3-7 .right,
.row-5-5.row-3-7 .right,
.row-6-4.row-3-7 .right,
.row-7-3.row-3-7 .right,
.row-8-2.row-3-7 .right,
.row-9-1.row-3-7 .right {
    width: 69%;
  }
  .row-1-9.row-4-6 .left,
.row-2-8.row-4-6 .left,
.row-3-7.row-4-6 .left,
.row-4-6.row-4-6 .left,
.row-5-5.row-4-6 .left,
.row-6-4.row-4-6 .left,
.row-7-3.row-4-6 .left,
.row-8-2.row-4-6 .left,
.row-9-1.row-4-6 .left {
    width: 38%;
  }
  .row-1-9.row-4-6 .right,
.row-2-8.row-4-6 .right,
.row-3-7.row-4-6 .right,
.row-4-6.row-4-6 .right,
.row-5-5.row-4-6 .right,
.row-6-4.row-4-6 .right,
.row-7-3.row-4-6 .right,
.row-8-2.row-4-6 .right,
.row-9-1.row-4-6 .right {
    width: 59%;
  }
  .row-1-9.row-5-5 .left,
.row-2-8.row-5-5 .left,
.row-3-7.row-5-5 .left,
.row-4-6.row-5-5 .left,
.row-5-5.row-5-5 .left,
.row-6-4.row-5-5 .left,
.row-7-3.row-5-5 .left,
.row-8-2.row-5-5 .left,
.row-9-1.row-5-5 .left {
    width: 49%;
  }
  .row-1-9.row-5-5 .right,
.row-2-8.row-5-5 .right,
.row-3-7.row-5-5 .right,
.row-4-6.row-5-5 .right,
.row-5-5.row-5-5 .right,
.row-6-4.row-5-5 .right,
.row-7-3.row-5-5 .right,
.row-8-2.row-5-5 .right,
.row-9-1.row-5-5 .right {
    width: 48%;
  }
  .row-1-9.row-6-4 .left,
.row-2-8.row-6-4 .left,
.row-3-7.row-6-4 .left,
.row-4-6.row-6-4 .left,
.row-5-5.row-6-4 .left,
.row-6-4.row-6-4 .left,
.row-7-3.row-6-4 .left,
.row-8-2.row-6-4 .left,
.row-9-1.row-6-4 .left {
    width: 59%;
  }
  .row-1-9.row-6-4 .right,
.row-2-8.row-6-4 .right,
.row-3-7.row-6-4 .right,
.row-4-6.row-6-4 .right,
.row-5-5.row-6-4 .right,
.row-6-4.row-6-4 .right,
.row-7-3.row-6-4 .right,
.row-8-2.row-6-4 .right,
.row-9-1.row-6-4 .right {
    width: 38%;
  }
  .row-1-9.row-7-3 .left,
.row-2-8.row-7-3 .left,
.row-3-7.row-7-3 .left,
.row-4-6.row-7-3 .left,
.row-5-5.row-7-3 .left,
.row-6-4.row-7-3 .left,
.row-7-3.row-7-3 .left,
.row-8-2.row-7-3 .left,
.row-9-1.row-7-3 .left {
    width: 69%;
  }
  .row-1-9.row-7-3 .right,
.row-2-8.row-7-3 .right,
.row-3-7.row-7-3 .right,
.row-4-6.row-7-3 .right,
.row-5-5.row-7-3 .right,
.row-6-4.row-7-3 .right,
.row-7-3.row-7-3 .right,
.row-8-2.row-7-3 .right,
.row-9-1.row-7-3 .right {
    width: 28%;
  }
  .row-1-9.row-8-2 .left,
.row-2-8.row-8-2 .left,
.row-3-7.row-8-2 .left,
.row-4-6.row-8-2 .left,
.row-5-5.row-8-2 .left,
.row-6-4.row-8-2 .left,
.row-7-3.row-8-2 .left,
.row-8-2.row-8-2 .left,
.row-9-1.row-8-2 .left {
    width: 79%;
  }
  .row-1-9.row-8-2 .right,
.row-2-8.row-8-2 .right,
.row-3-7.row-8-2 .right,
.row-4-6.row-8-2 .right,
.row-5-5.row-8-2 .right,
.row-6-4.row-8-2 .right,
.row-7-3.row-8-2 .right,
.row-8-2.row-8-2 .right,
.row-9-1.row-8-2 .right {
    width: 18%;
  }
  .row-1-9.row-9-1 .left,
.row-2-8.row-9-1 .left,
.row-3-7.row-9-1 .left,
.row-4-6.row-9-1 .left,
.row-5-5.row-9-1 .left,
.row-6-4.row-9-1 .left,
.row-7-3.row-9-1 .left,
.row-8-2.row-9-1 .left,
.row-9-1.row-9-1 .left {
    width: 89%;
  }
  .row-1-9.row-9-1 .right,
.row-2-8.row-9-1 .right,
.row-3-7.row-9-1 .right,
.row-4-6.row-9-1 .right,
.row-5-5.row-9-1 .right,
.row-6-4.row-9-1 .right,
.row-7-3.row-9-1 .right,
.row-8-2.row-9-1 .right,
.row-9-1.row-9-1 .right {
    width: 8%;
  }
  .row-1-9 .left img,
.row-1-9 .right img,
.row-2-8 .left img,
.row-2-8 .right img,
.row-3-7 .left img,
.row-3-7 .right img,
.row-4-6 .left img,
.row-4-6 .right img,
.row-5-5 .left img,
.row-5-5 .right img,
.row-6-4 .left img,
.row-6-4 .right img,
.row-7-3 .left img,
.row-7-3 .right img,
.row-8-2 .left img,
.row-8-2 .right img,
.row-9-1 .left img,
.row-9-1 .right img {
    max-width: 100%;
    margin-bottom: 0;
  }
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-red {
  color: #F33;
}

.text-yellow {
  color: #FFF100;
}

.text-pink {
  color: #fe64b7;
}

.text-green {
  color: #10ac14;
}

.text-orange {
  color: #ff4e00;
}

.mk {
  transition: 0.2s ease-in-out;
}
.mk:hover {
  opacity: 0.8;
}

.fz16 {
  font-size: 1.6rem;
}

.fz18 {
  font-size: 1.8rem;
}

.fz22 {
  font-size: 2.2rem;
}

.fz25 {
  font-size: 2.5rem;
}

.fz28 {
  font-size: 2.8rem;
}

.text-xxlarge {
  font-size: 2.4rem;
}

.text-xlarge {
  font-size: 2rem;
}

.text-large {
  font-size: 1.6rem;
}

.text-small {
  font-size: 1.2rem;
}

.text-xsmall {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .text-xxlarge {
    font-size: 3.6rem;
  }

  .text-xlarge {
    font-size: 2.8rem;
  }

  .text-large {
    font-size: 2rem;
  }

  .text-small {
    font-size: 1.2rem;
  }

  .text-xsmall {
    font-size: 1rem;
  }
}
/*   clerfix
---------------------------------------------------- */
.clerfix {
  *zoom: 1;
}
.clerfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

@media (min-width: 768px) {
  .pc-hide, .sp-only {
    display: none !important;
  }

  .pc-text-center {
    text-align: center !important;
  }

  .pc-text-left {
    text-align: left !important;
  }

  .pc-text-right {
    text-align: right !important;
  }
}
@media (max-width: 767px) {
  .sp-hide, .pc-only, .tablet-only {
    display: none !important;
  }

  .sp-text-center {
    text-align: center !important;
  }

  .sp-text-left {
    text-align: left !important;
  }

  .sp-text-right {
    text-align: right !important;
  }
}
.mt0 {
  margin-top: 0px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.pl45 {
  padding-left: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.pr55 {
  padding-right: 55px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.pb55 {
  padding-bottom: 55px !important;
}

.ml55 {
  margin-left: 55px !important;
}

.pl55 {
  padding-left: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.pl60 {
  padding-left: 60px !important;
}