
//header

body.home {
	.header {
		&__inner {
			position: absolute;
			top: 0;
			z-index: 1;
		}
	}
}

.header {
  line-height: 1;
  &__inner {
		display: flex;
		align-items: center;
		width: calc(100% - 30px);
    padding: 15px 15px;
    margin: 0 auto;
		box-sizing: content-box;
  }
	&__logo {
		max-width: 160px;
	}
	&__right {
		margin-left: auto;
		display: none;
	}
	&__address {
		text-align: right;
		&-tel {
			margin-bottom: 5px;
			color: $cMain;
			font-size: 3.6rem;
			font-weight: 700;
			i {
				position: relative;
				top: 2px;
				margin-right: 3px;
				font-size: 3.4rem;
			}
		}
		&-text {
			font-size: 1.2rem;
		}
	}
	@media (min-width: $md + 1px) {
		&__inner {
			width: calc(100% - 60px);
			padding: 15px 30px;
		}
		&__logo {
			max-width: 260px;
		}
		&__right {
			display: block;
		}
	}
}

//パンくずリスト
.breadcrumbBox {
	padding: 7px 0;
  margin: 0 0 80px;
	font-size: 1.1rem;
	background-color: #eee;
  ul.bread_crumb {
    max-width: $base_width;
    margin: 0 auto;
    li {
      display: inline-block;
      &:first-child {
      }
      &:after {
        content: '>';
        padding-left: 6px;
        margin-right: 0px;
      }
      a {
        color: $cText;
      }
      &:last-child:after {
        content: '';
        padding-left: 0px;
        margin-right: 0px;
      }
      br { display: none; }
    }
  }
  @media only screen and (max-width: $base_width + 30px) {
		padding: 7px 15px;
  }
  @media only screen and (max-width: $md) {
		margin: 0 0 40px;
    font-size: 1.0rem;
  }
}

//header nav

.header-nav {
  width: 100%;
  background-color: $cNav;
  ul.header-nav__list {
    max-width: $base_width;
    padding: 10px 0;
    margin: 0 auto;
    letter-spacing: -.4em;
    text-align: center;
    > li {
      position: relative;
      display: inline-block;
      text-align: center;
      letter-spacing: normal;
      > a {
        position: relative;
        display: block;
        padding: 5px 20px;
        color: $cNavText;
        font-size: 1.4rem;
        line-height: 1.5;
        text-decoration: none;
        // border-bottom: 2px solid $cMain;
        transition: .3s;
        &::after {
          position: absolute;
          bottom: -2px;
          left: 0;
          display: block;
          content: "";
          width: 100%;
          height: 1px;
          background: $cNavText;
          transform: scaleX(0);
          // transform-origin: right top;
          transition: transform 0.3s;
        }
        &:hover {
          &::after {
            transform: scaleX(1);
            // transform-origin: left top;
          }
        }
      }
      // &.current {> a {&::after {transform: scaleX(1);}}}
      &:not(:first-child) > a:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 1px;
        height: 50%;
        background-color: $cNavText;
      }
      span {
        display: block;
        font-size: 1.0rem;
      }
       ul {
        display: none;
        position: absolute;
        z-index: 100;
        width: calc(100% - 1px);//Gナビボーダー分
        li {
          display: block;
          width: 100% !important;
          text-align: left;
          border-bottom: 1px solid rgba($cMain,.2);
          &:last-child {border-bottom: none;}
          a {
            display: block;
            background-color: rgba($cMain,.8);
            padding: 15px 20px 15px 10px;
            color: #fff;
            font-size: 1.3rem;
            text-decoration: none;
            &:hover {
              background-color: rgba($cMain,.7);
            }
          }
        }
      }
    }
  }
}

// スマホ用
.toggle_nav_box {display: none;}
.drawer {display: none;}
@media only screen and (max-width: $md + 1px) {

.header-nav {display: none;}
.toggle_nav_box {display: block;}

.toggle_nav {z-index: 10;}
.toggle_nav_bg {z-index: 9;}
.drawer {z-index: 9;}

.toggle_nav_box {
  .toggle_nav {
    display: block;
    position: fixed;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 51px;
    cursor: pointer;
    background: $cMain;
    text-align: center;
    span {
      display: block;
      position: absolute;
      width: 30px;
      border-bottom: solid 3px #eee;
      -webkit-transition: .35s ease-in-out;
      -moz-transition: .35s ease-in-out;
      transition: .35s ease-in-out;
      left: 6px;
      &:nth-child(1) {top: 9px;}
      &:nth-child(2) {top: 18px;}
      &:nth-child(3) {top: 27px;}
      &:nth-child(4) {
        border: none;
        color: #eee;
        font-size: 9px;
        font-weight: bold;
        top: 34px;
      }
    }
  }
  .toggle_nav_bg {
    display: none;
  }
}

body.open {
	//スクロール固定
	// position: fixed;
	// width: 100%;
	// height: 100%;
  .toggle_nav_box {
    .toggle_nav {
      span {
        &:nth-child(1) {
          top: 18px;
          left: 6px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 18px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
    .toggle_nav_bg {
      display: block;
      cursor: pointer;
      position: fixed;
      top: 0px;
      right: 0px;
      width: 100%;
      height: 100%;
      -webkit-transition: background-color .6s;
      transition: background-color .6s;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

/* ドロワーメニュー */
.drawer {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  transform: translateX(100%);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s,-webkit-transform .4s;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  .drawer_menu {
    padding: 0;
    list-style-type: none;
  }
}

.open .drawer {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.drawer {
  padding: 80px 0 80px;
  .drawer_menu {
    > li {
      > a {
        position: relative;
        display: block;
        padding: 15px 15px 15px 20px;
        margin: 0 15px;
        border-bottom: 1px solid #ccc;
        text-decoration: none;
        &::before,
        &::after {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          content: "";
        }
        &::before {
          width: 12px;
          height: 12px;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          background: $cMain;
        }
        &::after {
          left: 5px;
          box-sizing: border-box;
          width: 3px;
          height: 3px;
          border: 3px solid transparent;
          border-left: 3px solid #fff;
        }
        &.open_menu {
          &::after {
            left: 3px;
            top: 3px;
            transform: rotate(85deg);
          }
        }
      }
      > .sub-menu {
        display: none;
        > li {
          > a {
            position: relative;
            display: block;
            padding: 15px 15px 15px 40px;
            margin: 0 15px;
            border-bottom: 1px solid #ccc;
            text-decoration: none;
            &::before,
            &::after {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              content: "";
            }
            &::before {
              left: 25px;
              box-sizing: border-box;
              width: 4px;
              height: 4px;
              border: 4px solid transparent;
              border-left: 4px solid $cMain;
            }
          }
        }
      }
    }
  }
}





}
